
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Explicitly allow authenticated users to read and write to the projects collection.
    match /projects/{projectId} {
      allow read, write: if request.auth != null;
    }

    // Explicitly allow authenticated users to read and write to the users collection.
    match /users/{userId} {
      allow read, write: if request.auth != null;
    }
  }
}
